:root {
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

* {
	margin:0px;
	padding:0px;
}

body {
	background-color: white;
	font-family: 'Alegreya Sans', sans-serif;
    line-height: 1.4;
	width: 100%;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
  }


main {
   float: left;
   width: 100%;
}

footer {
	background-color: black;
	width: 100%;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	float: left;

}

.footer {
	color: white;
	font-size: 0.8rem;
}
.blanco li a {
	color:white;
}

.blanco a:link {
	color: rgb(38, 208, 58);
	text-decoration: underline;
}

.blanco a:visited {
	color: white;
	text-decoration: underline;
}

.blanco a:hover {
	color: white;
	text-decoration: none;
	background-color: rgb(38, 208, 58);
}

.blanco a:active {
	color: white;
	text-decoration: underline;
}

.blanco {
	color: white;
}

.columntext4 {
	column-count: 4;
	column-gap: 40px;
	margin:30px 0px 30px 0px;
	column-rule-style: dotted;
	column-rule-width: 1px;
	column-rule-color: #5F5F5F;
	font-size: 0.8rem;
}

.lateral {
	float: right;
	width: 24%;
	min-width: 100px;
	margin-top: 50px;
	padding: 0 0.5em;
	background-color: #bdf1c4;/*#f1f86f f6f8d1*/
	font-size: 0.8rem;
	line-height: 1.2;
	padding: 20px 10px 20px 10px;
}

.lateral li {
	list-style-position: inside;
}

.lateral ul {
	padding: 0;
}
.lateral kbd {
	font-size: 0.7rem;
	background: white;
	display: inline;
}

.lateral figure img {
	margin-bottom: 20px;
}

.lateral figcaption {
	padding: 0;
}

#header {
	padding: 0 0 10px 20px;
}
header{
	display: block;
	margin: 0 0 20px 0;
	/*border: 1px solid blue;*/
}

hr{
	color:rgb(38, 208, 58);
	border: 1px solid;
}

h2 {
	display: block;
	font-size: 2rem;
	line-height: 0.8;
	font-weight: 100;
	border-bottom: 1px solid rgb(38, 208, 58);
}
.sinsubrayado {
	border-bottom: 0px solid rgb(38, 208, 58);
}

article {
	width: 70%;
	margin: 0;
	padding: 20px;
	display: block;
	/*border: 1px solid red;*/
}

section {
	display: block;
	margin: 0;
	padding: 10px 0 10px 0;
	/*border: 1px solid green;*/
}


figure{
	display: block;
	margin: 20px 0 30px 0;
}

figcaption {
	font-size: 0.8rem;
	display: block;
	padding: 20px 70px 0 50px;
	widows: 70%;
}

figcaption kbd {
	font-size: 0.7rem;
	display: inline;
}

figcaption ul {
	padding: 0 0 0 20px;
	list-style-position: outside;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	/*border: 1px solid yellow;*/
}

kbd {
	font-size: 0.85rem;
	background: #d4f6d8; /*f1f86f *#f6f8d1*/
	display: inline;
}



a:link {
	color: rgb(38, 208, 58);
	text-decoration: underline;
}

a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: none;
	background-color: rgb(38, 208, 58);
}

a:active {
  text-decoration: underline;
}


blockquote {
	margin: 20px 0 20px 0;
	padding: 10px 20px 10px 20px;
	background-color: #e9faeb; /* #fafbe8 #f6f8d1 #F2F2F2;*/
	/*border-left: 3px solid #DBDBDB;*/
}

.codigo{
	display: block;
	background: #F4F4F4;
	border: 1px solid grey;
	padding: 10px;
	margin: 20px 0 20px 0;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.7rem;
	line-height: 1.4;
}

ul {
	padding: 0 0 0 30px;
	list-style: square;
	list-style-position: outside;
}

ul ul {
	color: grey;
}

.blockright {
	float: right;
	width: 50%;
	margin: 20px 0px 20px 20px;
}

.encabezado {
	margin: 10px 0 10px 0;
	font-size: 0.7rem;
	display: block;
	border-bottom: 1px solid rgb(38, 208, 58);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 600;
}
.bajada {
	display:block;
	padding: 0 0 10px 0;
	font-size: 1.4rem;
	font-weight: 300;
	line-height:1;
}


