:root {
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

* {
	margin:0px;
	padding:0px;
}

body {
	background-color: white;
	font-family: 'Alegreya Sans', sans-serif;
    line-height: 1.4;
	width: 100%;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
  }


main {
   float: left;
   width: 100%;
}

.lateral {
	float: right;
	width: 24%;
	min-width: 100px;
	padding: 0 0.5em;
	background-color: #F6F8FA;
	border-left: 3px solid #DBDBDB;
	font-size: 0.8rem;
	line-height: 1.2;
}

.lateral li {
	list-style-position: inside;
}

.lateral ul {
	padding: 0;
}
.lateral kbd {
	font-size: 0.7rem;
	background: #DBDBDB;
	display: inline;
}

header{
	display: block;
	padding: 0 0 10px 0;
}

h2 {
	font-size: 2rem;
	line-height: 0.9;
	font-weight: 100;
}

article {
	width: 70%;
	margin: 0;
	padding: 20px;
	display: block;
	border: 1px solid red;
}

section {
	display: block;
	margin: 0;
	padding: 10px 0 10px 0;
}

figure{
	display: block;
	margin: 20px 0 30px 0;
}

figcaption {
	font-size: 0.8rem;
	display: block;
	padding: 0 0 0 0;
	widows: 70%;
}

figcaption kbd {
	font-size: 0.7rem;
	background: #DBDBDB;
	display: inline;
}

figure img {
	max-width: 100%;
}

kbd {
	font-size: 0.85rem;
	background: #DBDBDB;
	display: inline;

}

blockquote {
	margin: 20px 0 20px 0;
	padding: 10px 0 10px 30px;
	background-color: #F6F8FA;
	border-left: 3px solid #DBDBDB;
}

.codigo{
	display: block;
	background: #F6F8FA;
	border: 1px solid #DBDBDB;
	padding: 10px;
	font-family: 'Roboto Mono', monospace;
	line-height: 1.4;
}

ul {
	padding: 0 0 0 30px;
	list-style: square;
	list-style-position: inside;
}


.gris {
	background-color: #F6F8FA;
	border-top: 3px solid #DBDBDB;
	border-bottom: 3px solid #DBDBDB;
}

.blockright {
	float: right;
	width: 50%;
	margin: 20px 0px 20px 20px;
}

.encabezado {
	font-size: 0.7rem;
	display: block;
	background: #F6F8FA;
	text-transform: uppercase;
	text-decoration: underline;
	letter-spacing: 5px;
	font-weight: 600;
}
.bajada {
	display:block;
	padding: 0 0 10px 0;
	font-size: 1.4rem;
	font-weight: 300;
	line-height:1;
}

footer {
   clear: left;
}
