:root {
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

* {
	margin:0px;
	padding:0px;
}

body {
	background-color: white;
	font-family: 'Alegreya Sans', sans-serif;
    line-height: 1.4;
	width: 100%;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
  }
figure{
	display: block;
	margin: 20px 0 30px 0;
}

figcaption {
	font-size: 0.8rem;
    text-transform: uppercase;
	font-weight: 600;
	display: block;
	padding: 0 0 0 0;
}

aside {
	padding: 10px 0 10px 10px;
	border-left: 2px solid gray; 
}

figure img {
	max-width: 100%;
}
.codigo{
	display: block;
	background: #F6F8FA;
	border: 1px solid #DBDBDB;
	padding: 10px;
	font-family: 'Roboto Mono', monospace;
	line-height: 1.4;
}